site/themes/redwood/
site/addons/
site/database/
site/helpers/
site/lang/
site/settings/
site/storage/
site/tests/
site/users/
statamic
assets
local
index.php
installer.php
phpunit.xml
please
robots.txt
sample.env
/sample.gitignore
/sample.htaccess
/sample.nginx.conf
/sample.web.config
.DS_Store
/site/content/globals/global.yaml
/site/themes/bootup/yarn.lock
site/themes/bootup/node_modules/
/site/content
/site/themes/bootup/src/scss/vendor/slick.scss
/site/themes/bootup/src/scss/vendor/slick-theme.scss
